{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="container d-flex justify-content-center align-items-start py-5">
  <div class="row justify-content-center w-100">
    <div class="col-md-6 col-lg-6">
      <div class="card shadow-lg rounded-4 p-4">
        <div class="card-body">
          <h2 class="text-center fw-bold text-primary mb-4">
            <img src="{% static 'images/COVEGUSA.png' %}" 
                style="height: 96px; width: auto;">
          </h2>


          <!-- Contenido de las pestañas -->
          <div class="tab-content">
            <!-- Login Form -->
            <div class="tab-pane fade show active" id="pills-login">
              {% if error %}
                <div class="alert alert-danger text-center">
                  {{ error }}
                </div>
              {% endif %}

              <form action="/signin/" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label fw-bold">Usuario:</label>
                  <input type="text" name="username" class="form-control" placeholder="Ingresa tu usuario" required>
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label fw-bold">Contraseña:</label>
                  <input type="password" name="password" class="form-control" placeholder="Ingresa tu contraseña" required>
                </div>

                <button class="btn btn-primary btn-lg w-100">
                    Iniciar Sesión
                </button>

                <p class="text-center mt-3 small">
                Acceso solamente para Personal Autorizado
                </p>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
